rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Har user sirf apni photos padh/likh sakta hai
    match /users/{uid}/photos/{photoId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /users/{uid}/thumbs/{photoId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    // baaki sab band
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
